* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(to right,#333 ,#eff0f4,#333);
    background-position: center;
}

.container {
    position: relative;
    max-width: 1200px;
/* background-color: #333; */
    padding: 40px;
}

.container .box {
    padding: 50px 30px;
    overflow: hidden;
}

.image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    opacity: .8;
    border: 3px solid #fff;

}

.card {
    position: relative;
    width: 350px;
    height: 350px;
    background: transparent;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, .05),
        5px 25px 20px rgba(0, 0, 0, .05),
        5px 20px 30px rgba(0, 0, 0, .05),
        inset -20px -20px 25px rgba(255, 255, 255, .9);
    border-radius: 61% 39% 52% 48%/44% 59% 41% 56%;
    transition: .5s ease-in-out;
}

.card:hover {
    border-radius: 50%;
}

.card::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 65px;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    opacity: .9;
}

.card::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 85px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    opacity: .9;
}

.card .card-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.card .name-profession {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    color: #333;
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
}

.name-profession .profession {
    font-size: 15px;
    font-weight: 500;
}

.card-content button {
    position: relative;
    padding: 8px 35px;
    background: var(--clr);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    opacity: .75;
    margin-top: 75px;
}

.box .swiper-button-next {
    right: 0;
}

.box .swiper-button-prev {
    left: 0;
}

.box .swiper-button-prev,
.box .swiper-button-next{
    color: #363535;
}
.box .swiper-pagination-bullet{
    background: #363535;
    width: 12px;
    height:12px ;
}
.profession{
    text-align: center;
}.container p{
    font-size: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 2em;
}
/* NavBar style */
.header-Divider p{
    padding: 8px;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    /* margin-bottom: 100%; */
    width: 100%;
    padding: 20px 100px;
/* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.NavBar {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 50%;
}

.NavBar a {
    position: relative;
    font-size: 20px;
    color: rgb(13, 10, 10);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    text-decoration: none;
    margin: 20px 60px 20px 60px;

}

.NavBar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background: #333;
    transition: .8s;
}

.NavBar a:hover::before {
    width: 100%;

}
.Navigation{
    text-align: center;
    /* background-color: #333; */
    padding: 5px;
    margin: 5px;
    width: 1500px;
    height: fit-content;
}
footer{
    /* background-color: #eff0f4; */
    width: 100%;
    height: fit-content;
    margin: 5px;
    padding: 5px;
    text-align: justify;
}